.weather-panel .temp {
    font-size: 5.9vw;
    margin: 30px 0 0 0;
    line-height: 60px;
}
.weather-panel .supersmall {
    font-size: 9px;
    margin-top: 0px;
    }
.wi {
    font-size: 5.9vw;
    }
.weather-panel .col-sm-6 {
    text-align: center;
    }
img{
    height: 100px;
    width: 100px;
}

.shadow {
    box-shadow: 5px 5px 2px #888888;
}